@media screen and (max-width:520px) {
    h1 {
        font-size: 8rem;
    }

nav{
    button{
        left: 35px;

        svg{
            height: 28px!important;
        }
    }
}

.navbar{
    max-width: 130px;
}

    .about {
        padding: 5rem;
        margin: 0;
        margin-top: 2rem;
        padding-top:6rem;
        width: 100%;

        h1{
            margin-bottom: 0;
        }

        p {
            padding-right: 0;

        }
    }
}